
.sub{
    background-color: red;
    color: white;
    border: None;
    border-radius: 3px;
    transition: opacity 0.15s ;
    padding: 10px;
}
.sub:hover{
    opacity:0.7;
}
.sub:active{
    opacity: 0.4;
}
.jn{
    background-color: white;
    color: rgb(0, 115, 255);
    border-color: rgb(0, 115, 255);
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.15s,color 0.15s,padding 0.5s;
    padding: 9px;
    padding-left: 10px;
    padding-right: 10px;
}
.jn:hover{
    background-color: rgb(0, 115, 255);
    color: white;
    padding: 30px;
}
.jn:active{
    opacity: 0.7;
}
.tweet{
    background-color: rgb(0 115 255 / 90%);
    color: white;
    font-size: medium;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    transition: box-shadow 0.15s,margin-top 0.15s,margin-left 0.15s;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.tweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}     
.tweet:active{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: none;
}          
.facebook{
    width: 125px;
    display: inline-block;
    box-shadow: 0 0 8px black;
    
}
img{
    width :125px;
}
.name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 5px;
}
.frnds{
    color: gray;
    font-size: 12px;
    margin-top:0;
    padding-left: 7px;
    margin-bottom: 5px;
}
button{
    margin-left: 7px;
    margin-bottom: 8px;
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}
